{% extends 'base.html' %}
{% block content %}
{% if advt_list %}
{% for advt in advt_list %}

<div class='div1'>
    <a href="{% url 'olx:advt_detail_view' advt.id %}">
    <img src="{{advt.image.url}}" alt="lol">
    </a>

    <div style="overflow: hidden;">
    <a href="{% url 'olx:advt_detail_view' advt.id %}">
        <p style="float: left;"><b>{{advt.title}}</b></p>
    </a>
    <p style="float: right;">{{advt.price}}</p>
</div>
    <p>Category:{{advt.category}}</p>
    <p>Posted On:{{advt.posted_on}}</p>

    </div>

{% endfor %}

{% else %}

<h1>No results to show!</h1>

{% endif %}
{% endblock %}







