{% extends 'base.html' %}

{% block content %}



<div class='div2'>
    <img src="{{advt.image.url}}">

    <h1>{{advt.title}}
    </h1>

   <div style="overflow: hidden;">
       <p style="float:left;clear:right"><b>Description:</b>
       <div style="float:left;" class="content">
       {{advt.description}}
   </div>
       </p>
    </div>

    <p><b>Category:</b>{{advt.category}}</p>

    <p><b>Type:</b>{{advt.item_type}}</p>

    <p><b>Price:{{advt.price}}</b></p>

    <p><b>Interested:</b>{{advt.interested_count}}</p>


    <p><b>Posted on:</b>{{advt.posted_on}}</p>

    <table>
        <tr>
            <td>
                <form action="{% url 'olx:like' advt.id %}">
                    <button type="submit" class="btn btn-primary">Like</button>
                </form>
            </td>
            <td>
                <form action="{% url 'olx:start_chat' advt.id %}">
                    <button type="submit" class="btn btn-primary">Chat</button>
                </form>
            </td>
        </tr>
    </table>



    </div>



{% endblock %}


