{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-xs-6 col-xs-offset-3">
    <form method="post">

        {% csrf_token %}

        <fieldset>
            <legend>
                {{ title }}
            </legend>
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">First Name</label>
                {{ form.first_name }}
            </div>

            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                {{ form.last_name }}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
            </div>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
        <a href="{% url 'olx:login' %}">Go to login>></a>
    </div>
</div>


{% endblock %}

